.root {
    margin: 0;
    padding: 0;
}
.form__button {
    display: block;

    margin-top: 1.5em;
    padding: 0 16px;

    color: #000;
    border: none;
    border-radius: 3px;
    background: #ffdb4d;

    font-size: 1em;
    line-height: 2em;
    cursor: pointer;
}
.required {
    color: #aa3e2f;
}
.form__text {
    margin: 0;
    padding: 0 16px;
    height: 46px;
    line-height: 46px;
}
.form__success {
    color: #155724;
    background: #d4edda;
}
.form__error {
    color: #721c24;
    background: #f8d7da;
}
