.root {
    position: relative;
    width: 130px;
    height: 130px;
    transform-style: preserve-3d;
    transition: 0.5s;
    transform: rotate3d(0, 1, 0, 180deg);
}
.card__face {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #fff;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
    text-align: center;
    font-size: 75px;
    line-height: 120px;
    transform: rotate3d(0, 1, 0, -180deg);
    backface-visibility: hidden;
    cursor: default;
    z-index: 0;
}
.card__back {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #fff;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #22ab93, #19668d);
    backface-visibility: hidden;
    cursor: pointer;
    z-index: 1;
}
.root.card_state_close {
    transform: rotate3d(0, 1, 0, -0deg);
}
.card_state_open .card__back,
.card_state_identical .card__back,
.card_state_different .card__back {
    z-index: 0;
}
.card_state_open .card__face {
    z-index: 1;
}
.card_state_different .card__face {
    background: #f44336;
    border-color: #f44336;
    z-index: 1;
}
.card_state_identical .card__face {
    background: #5ad66f;
    border-color: #5ad66f;
    z-index: 1;
}
