.content {
    grid-area: content;
    margin: 0 auto;
}
.cards {
    margin: 0 auto 30px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* for width = 4 */
    grid-template-rows: auto;
    grid-gap: 25px;
    perspective: 600px;
    transform-style: preserve-3d;
    list-style-type: none;
}
.card__face {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #fff;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background: #fff;
    text-align: center;
    font-size: 75px;
    line-height: 120px;
    transform: rotate3d(0, 1, 0, -180deg);
    backface-visibility: hidden;
    cursor: default;
    z-index: 0;
}
.card__back {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #fff;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #22ab93, #19668d);
    backface-visibility: hidden;
    cursor: pointer;
    z-index: 1;
}
.card {
    position: relative;
    width: 130px;
    height: 130px;
    transform-style: preserve-3d;
    transition: 0.5s;
    transform: rotate3d(0, 1, 0, 180deg);
}
.card.card_state_close {
    transform: rotate3d(0, 1, 0, -0deg);
}
.card_state_open .card__back,
.card_state_identical .card__back,
.card_state_different .card__back {
    z-index: 0;
}
.card_state_open .card__face {
    z-index: 1;
}
.card_state_different .card__face {
    background: #f44336;
    border-color: #f44336;
    z-index: 1;
}
.card_state_identical .card__face {
    background: #5ad66f;
    border-color: #5ad66f;
    z-index: 1;
}
.popup {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.popup_state_open {
    display: flex;
    top: 0;
}
.popup__main {
    margin: auto;
    min-width: 350px;
    padding: 30px;
    background: #fff;
    text-align: center;
}
.popup__title {
    margin: 0 0 40px 0;
    font-size: 48px;
}
.popup__button {
    display: inline-block;
    height: 40px;
    font-size: 20px;
    padding: 0 30px;
    color: #fff;
    line-height: 40px;
    background: linear-gradient(to right, #19668d, #22ab93);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    cursor: pointer;
}
.popup__button:active {
    box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}
.popup__text_type_win,
.popup__text_type_lose,
.popup__buttontext_type_win,
.popup__buttontext_type_lose {
    display: none;
}
.popup_type_win .popup__text_type_win,
.popup_type_lose .popup__text_type_lose,
.popup_type_win .popup__buttontext_type_win,
.popup_type_lose .popup__buttontext_type_lose {
    display: flex;
    justify-content: center;
}
.popup__text {
    transform: scaleX(0.8);
}
.popup__letter {
    animation: letter 1s infinite ease-in-out reverse;
    display: inline-block;
    transform-origin: 50% 100%;
}
.popup__letter:nth-child(2) {
    animation-delay: 0.1s;
}
.popup__letter:nth-child(3) {
    animation-delay: 0.2s;
}
.popup__letter:nth-child(4) {
    animation-delay: 0.3s;
}
@keyframes letter {
    0% {
        transform: scaleY(0.7);
    }
    50% {
        transform: scaleY(1.4);
    }
    100% {
        transform: scaleY(0.7);
    }
}
.timer {
    margin: 0 0 30px 0;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
}
