.root {
    min-height: 100%;
    background: #f0fbe4;
    box-shadow: 5px 0px 10px -5px #ccc inset;
}
.content {
    position: relative;
    padding: 28px;
}
.harvest {
    margin: 0;
    padding: 0;
    display: none;
}
.harvest-radio {
    position: absolute;
    top: 278px;
    left: 50%;
}
.harvest-radio_type_1 {
    margin-left: -25px;
}
.harvest-radio_type_2 {
    margin-left: -5px;
}
.harvest-radio_type_3 {
    margin-left: 15px;
}
.harvest-radio:checked ~ .harvest {
    display: block;
}
.harvest-radio_type_1:checked ~ .harvest li:nth-child(1),
.harvest-radio_type_1:checked ~ .harvest li:nth-child(2),
.harvest-radio_type_1:checked ~ .harvest li:nth-child(3),
.harvest-radio_type_1:checked ~ .harvest li:nth-child(4),
.harvest-radio_type_2:checked ~ .harvest li:nth-child(4),
.harvest-radio_type_2:checked ~ .harvest li:nth-child(5),
.harvest-radio_type_2:checked ~ .harvest li:nth-child(6),
.harvest-radio_type_2:checked ~ .harvest li:nth-child(7),
.harvest-radio_type_3:checked ~ .harvest li:nth-child(7),
.harvest-radio_type_3:checked ~ .harvest li:nth-child(8),
.harvest-radio_type_3:checked ~ .harvest li:nth-child(9),
.harvest-radio_type_3:checked ~ .harvest li:nth-child(10) {
    display: block;
}
