.popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.popup_state_open {
    display: flex;
    top: 0;
}
.popup__main {
    margin: auto;
    min-width: 350px;
    padding: 30px;
    background: #fff;
    text-align: center;
}
.popup__title {
    margin: 0 0 40px 0;
    font-size: 48px;
}
.popup__button {
    display: inline-block;
    height: 40px;
    font-size: 20px;
    padding: 0 30px;
    color: #fff;
    line-height: 40px;
    background: linear-gradient(to right, #19668d, #22ab93);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    cursor: pointer;
}
.popup__button:active {
    box-shadow: inset 2px 1px 8px rgba(0, 0, 0, 0.5);
}
.popup__text_type_win,
.popup__text_type_lose,
.popup__buttontext_type_win,
.popup__buttontext_type_lose {
    display: none;
}
.popup_type_win .popup__text_type_win,
.popup_type_lose .popup__text_type_lose,
.popup_type_win .popup__buttontext_type_win,
.popup_type_lose .popup__buttontext_type_lose {
    display: flex;
    justify-content: center;
}
.popup__text {
    transform: scaleX(0.8);
}
