.root {
    min-height: 100%;
    background: #fbf9ea;
    box-shadow: 5px 0px 10px -5px #ccc inset;
}
.content {
    padding: 28px 0;
}
.profile {
    width: 600px;
    margin: 0 auto;
    padding: 1em;

    text-align: left;

    background: #fff;
    box-shadow: 0 3px 8px #ccc;
}
.header {
    margin: 0;
    font-size: 2em;
}
