.root {
    margin: 0 auto;
    padding: 0;
    min-width: 700px;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'header'
        'content';
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #e6efec;
    box-shadow: 5px 0px 10px -5px #ccc inset;
    color: #434344;
    min-height: 100%;
    position: relative;
}
.header {
    grid-area: header;
}
.title {
    margin: 0;
    padding: 40px;
    line-height: 47px;
    font-size: 42px;
    text-align: center;
}
